[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
spacy = "*"
spacy-transformers = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.10"
